@import "bootstrap.css";

.container-img {
  margin: 20px auto;
  padding: 5px;
  max-width: 70%;
  max-height : 20%;
}
 .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: white;
    text-align: center;
    color: black;
 }

 .news-title{
  font-weight:1000;
  color: white;
  background-color: #B22222;
  /*background-color: #426e70;*/
 }
 .catg_title{
   color: black;
   font-weight: 600;
   font-size: 16.0px;
 }
  footer {
    padding: 20px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-weight: bold;
 } 

 .latestt{
  list-style-type: none;
 }

 .latest-post{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 700;
 }
 

